.full-div {
  position: relative;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  object-fit: fill;
  display: flex;
  align-items: center;
  justify-content: center
}

.full-screen {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  object-fit: fill;
  display: flex;
  align-items: center;
  justify-content: center
}

.full-screen video {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.full-screen-batik {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center
}

.full-screen-batik video {
  width: 100%;
  height: 100%;
  object-fit: fill;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.full-screen iframe {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.full-screen p {
  position: absolute;
  display: block;
  margin: 0;
  width: 100%;
  text-align: center;
  background: rgba(61, 53, 71, 0);
  color: rgb(255, 255, 255);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(0, 0, 0);
  text-transform: uppercase;
  font-family: 'Space Mono', monospace;
  font-style: normal;
  font-weight: 250;
  font-size: 25vmin;
}

.nav {
  position: fixed;
}

.batik {
  right: 25px;
  top: 25px;
}

.nav.batik button {
  display: block;
  width: 250px;
  height: 100px;
  background: rgba(252, 253, 253, 0);
  background-image: url('./assets/batik_label.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 200px;
  font-size: 0;
  outline: 0;
  border: none;
}

.bird {
  right: 25px;
  top: 120px;
}

.nav.bird button {
  display: block;
  width: 250px;
  height: 100px;
  background: rgba(252, 253, 253, 0);
  background-image: url('./assets/bird_label.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 200px;
  font-size: 0;
  outline: 0;
  border: none;
}

.nav.aoe button {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: rgba(8, 236, 149, 0.322);
  background-image: url('./assets/snowman-solid.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 200px;
  font-size: 0;
  outline: 0;
  border: none;
}